/******************************************
/* BASE STYLES
/*******************************************/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
:root {
  --darkgray: #dde0e9;
  --lightgray: #f8f8fa;
  --black: #0f1420;
  --white: #fafafa;
}
/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
